body {

  text-align: center;
  margin-left: 10vw;
  margin-right: 10vw;
  background-color: green;

}

h1 {
  font-size: 3.5em;
  padding: 4vw;
  border-style: dotted;
  border-width: thick;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1em;
}



@media only screen and (max-width: 400px) {

  body {
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: red;
  }

  h1 {
    font-size: 1em;
    padding: 4vw;
    border-style: dotted;
    border-width: thin;
  }

  h2 {
    font-size: 1em;
  }
}
